<nav class="nav js-nav" role="navigation" tabindex="-1">

    {# Menu Toggle Button #}
    <button
        class="nav__toggle js-nav-toggle"
        aria-expanded="false"
        aria-controls="nav-menu"
    >
        <span class="sr-only">toggle menu</span>
        <span class="menuicon">
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
        </span>
    </button>

    {# Nav Links  #}
    <ul class="nav__menu js-nav-menu" id="nav-menu">
    {%- for item in collections.all | eleventyNavigation -%}
        {%- set isCurrent = (item.url == page.url) -%}
        {%- set isParent = item.url != '/' and item.url in page.url -%}
        <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
            <a
                class="nav__link"
                href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                {% if isCurrent %}aria-current="page"{% endif %}
            >
                {{ item.title }}
            </a>
        </li>
    {%- endfor -%}
    {% if meta.facebook %}
      <li class="nav__social">
        <a class="nav__link" href="{{meta.facebook}}" target="_blank">
          {% icon "facebook" %}
        </a>
      </li>
    {% endif %}
    {% if meta.twitter %}
      <li class="nav__social">
        <a class="nav__link" href="{{meta.twitter}}" target="_blank">
          {% icon "twitter" %}
        </a>
      </li>
    {% endif %}
    {% if meta.instagram %}
      <li class="nav__social">
        <a class="nav__link" href="{{meta.instagram}}" target="_blank">
          {% icon "instagram" %}
        </a>
      </li>
    {% endif %}
    </ul>

</nav>