<form id="mc-embedded-subscribe-form" class="newsletter-signup--form signup-form" action="https://kentcommunityhousinghub.us2.list-manage.com/subscribe/post?u=9c50d33b62789e67953656bf5&id=83d6121b9e" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" _lpchecked="1">
  <fieldset>
    <label class="sr-only" for="mce-EMAIL">Email address</label>
    <input id="mce-EMAIL" type="text" name="EMAIL" placeholder="enter your email address">
  </fieldset>
  <button class="button button--orange" id="mc-embedded-subscribe" name="subscribe" type="submit">Subscribe</button>
</form>