.footer {
    font-size: ms(-1);
    padding: 2 * $spacing 0;
    background-color: $brand-color-primary;
    color: $brand-purple-light;
    -webkit-font-smoothing: antialiased;

    &__inner {
        @include orientation(landscape) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__section {
        + .footer__section {
            margin-top: $spacing;
        }

        @include orientation(landscape) {
            flex: 1 0 12rem;

            + .footer__section {
                margin-top: 0;
                margin-left: $spacing;
                @include mq(xl) {
                    margin-left: 2 * $spacing;
                }
            }
        }

        &.is-contact-menu {
            a {
                display: block;
                margin-bottom: math.div($spacing, 8);
                white-space: nowrap;
            }
        }

        &.is-logos {
            flex: 1 0 18rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                flex: 1 1 35%;
                max-width: 6rem;

                &.is-wide {
                    flex: 1 1 100%;
                    max-width: 16rem;
                }

                + a {
                    margin-left: math.div($spacing, 2);
                }
            }

            img {
                max-width: 100%;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
            }
        }

        &__heading {
            color: $brand-purple-light;
            margin-bottom: math.div($spacing, 4);
        }
    }

    &__title {
        font-size: ms(1);
        font-weight: 900;
        display: inline-block;
        vertical-align: middle;
        max-width: 6.5em;
        line-height: $heading-line-height;
    }

    a {
        color: $brand-purple-light;
        text-decoration: none;
    }
}
