.footer {
    font-size: ms(-1);
    padding: 2 * $spacing 0;
    background-color: $brand-color-primary;
    color: $brand-purple-light;
    -webkit-font-smoothing: antialiased;

    &__inner {
      @include orientation(landscape) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &__section {
      + .footer__section {
        margin-top: $spacing;;
      }

      @include orientation(landscape) {
        max-width: 18rem;

        + .footer__section {
          margin-top: 0;
          margin-left: 2 * $spacing;
        }
      }

      &.is-contact-menu {
        a {
          display: block;
          margin-bottom: $spacing/8
        }
      }

      &__heading {
        color: $brand-purple-light;
        margin-bottom: $spacing/4;
      }
    }

    &__title {
      font-size: ms(1);
      font-weight: 900;
      display: inline-block;
      vertical-align: middle;
      max-width: 6.5em;
      line-height: $heading-line-height;
    }

    a {
      color: $brand-purple-light;
      text-decoration: none;
    }
}
