.nav {
    &__menu {
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    &__item {
        margin: 0 math.div($spacing, 3);

        &--active {
            border-bottom: 0.2rem solid $brand-color-secondary;
        }
    }
    &__link {
        font-size: ms(-1);
        @include mq(xl) {
            font-size: ms(0);
        }
        display: block;
        font-weight: 900;
        text-decoration: none;
        padding: math.div($spacing, 4) 0;
        text-transform: lowercase;
    }
    &__social {
        margin-left: math.div($spacing, 4);
        @include mq-down(lg) {
            display: inline-block;
            margin: $spacing math.div($spacing, 2) $spacing
                math.div($spacing, 2);
        }
        a {
            font-size: ms(-1);
            background-color: $brand-color-primary;
            color: white;
            padding: math.div($spacing, 4);
            border-radius: 9999px;
            width: 1.25 * $spacing;
            height: 1.25 * $spacing;
            line-height: math.div($spacing, 2);
            text-align: center;
        }
    }
    &__toggle {
        @include button-reset;
    }

    @include mq-down(lg) {
        &.is-open &__menu {
            margin-top: 2 * $spacing;
            display: block;
            border-radius: $border-radius;
            animation: fadeUp 0.5s forwards;
            box-shadow: $box-shadow-elevated;
        }
    }

    @include mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(1em);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
