---
layout: base
---
<article>

  <div class="page__header">
    <div class="container container--narrow">
      <div class="page__header__image">
        {% icon image, "", 500, 500 %}
      </div>
      <div class="page__header__text">
        <h1 class="page__title">{{ title }}</h1>
        <p class="page__subtitle">{{ subtitle }}</p>
        <div class="page__intro">
          {{ intro | markdownify | safe }}
        </div>
      </div>
    </div>
  </div>

  <div class="container page__content">
    {{ content | safe }}
  </div>

</article>